/****** animations for header ******/
@keyframes header-logo {
  0% {
    opacity: 0;
    transform: translateY(1000px); }
  80% {
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes header-h1 {
  0% {
    opacity: 0;
    transform: translateX(-1000px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes header-p {
  0% {
    opacity: 0;
    transform: translateX(1000px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes header-a {
  0% {
    opacity: 0;
    transform: translateY(1000px); }
  80% {
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/****** utilities + restart *******/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden; }

.bottom-line {
  height: 1px;
  width: 200px;
  background: #eeeeee;
  text-align: center;
  display: inline-block; }

.tc {
  text-align: center; }

.p1 {
  padding: 1rem; }

.p2 {
  padding: 2rem; }

.p3 {
  padding: 3rem; }

.m1 {
  margin: 1rem 0; }

.m2 {
  margin: 2rem 0; }

.m3 {
  margin: 3rem 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  transition: all 0.5s; }

.btn {
  display: inline-block;
  background: #fff;
  color: #777;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  text-transform: uppercase;
  position: relative; }

.btn-green {
  background: linear-gradient(#7ed56f, #28b485); }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5); }

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0; }

.btn:active {
  transform: translateY(0); }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #777;
  padding: 1.2rem; }

/****** header *******/
.header {
  height: 95vh;
  background: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(85, 197, 122, 0.8)), url("../img/hero.jpg") no-repeat center;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 71%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  background-size: cover;
  overflow: hidden; }

.header-logo {
  margin: 1.2rem;
  animation: header-logo 2s ease-in-out; }

.header .header-content {
  text-align: center;
  position: relative;
  top: 20%; }

.header .header-content h1 {
  font-size: 4.5rem;
  color: #fff;
  letter-spacing: 1rem;
  text-transform: uppercase;
  animation: header-h1 2s ease-in-out; }

.header .header-content p {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.9rem;
  margin-bottom: 3rem;
  animation: header-p 2s ease-in-out; }

.header .header-content a {
  animation: header-a 2s ease-in-out; }

.section-a {
  background: #f7f7f7;
  margin-top: -12rem; }
  .section-a h2 {
    letter-spacing: 0.4rem;
    margin-top: 12rem;
    font-size: 2rem;
    transition: all 0.5s;
    text-transform: uppercase;
    background: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
    .section-a h2:hover {
      transform: skewY(-3deg) skewX(-20deg) scale(1.1); }
  .section-a a {
    color: #28b485;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-bottom: 1px solid #7ed56f;
    padding: 0.5rem 0;
    transition: all 0.5s; }
    .section-a a:hover {
      background: #7ed56f;
      color: #fff;
      padding: 0.5rem; }
  .section-a .content {
    padding: 4rem;
    display: flex;
    justify-content: space-between; }
    .section-a .content .item {
      margin: 0 3rem;
      position: relative;
      width: 80%;
      height: auto; }
      .section-a .content .item img {
        position: absolute;
        border-radius: 5px;
        width: 70%;
        transition: all 0.3s; }
        .section-a .content .item img:hover {
          z-index: 5;
          outline: 10px solid #7ed56f;
          outline-offset: 1rem;
          transform: scale(1.1); }
    .section-a .content .img-1 {
      left: -50px;
      top: 10px; }
    .section-a .content .img-2 {
      right: 0;
      top: 50px; }
    .section-a .content .img-3 {
      top: 100px; }

.section-b {
  padding: 10rem 0;
  margin-top: -12rem;
  background: linear-gradient(to right, rgba(126, 213, 111, 0.9), rgba(40, 180, 133, 0.9)), url("../img/nat-4.jpg");
  -webkit-clip-path: polygon(0 14%, 100% 0, 100% 83%, 0% 100%);
  clip-path: polygon(0 14%, 100% 0, 100% 83%, 0% 100%); }
  .section-b .features {
    display: flex;
    justify-content: space-around;
    text-align: center; }
    .section-b .features i {
      background: linear-gradient(to right, #7ed56f, #28b485);
      -webkit-background-clip: text;
      color: transparent; }
    .section-b .features .feature {
      margin: 1rem;
      padding: 1rem;
      background: rgba(247, 247, 247, 0.9);
      border-radius: 10px;
      transition: all 0.5s;
      width: 100%; }
      .section-b .features .feature:hover {
        transform: translateY(-15px); }

.section-c {
  background: #f7f7f7;
  padding: 7rem 0;
  margin-top: -10rem;
  overflow: hidden; }
  .section-c h2 {
    background: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    transition: all 0.3s;
    margin: 5rem 0; }
    .section-c h2:hover {
      transform: skewY(-3deg) skewX(-20deg) scale(1.1); }

.cards {
  display: flex;
  justify-content: space-evenly;
  perspective: 1500px; }
  .cards .card-1 {
    text-align: center;
    width: 23%;
    height: 500px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: all 1s;
    backface-visibility: hidden;
    position: relative; }
    .cards .card-1:hover {
      transform: scale(1.1); }
    .cards .card-1 h3 {
      font-size: 1.5rem;
      display: inline;
      padding: 0.5rem 1rem;
      position: absolute;
      font-weight: 300;
      right: 15px;
      top: 130px;
      color: #fff;
      text-transform: uppercase;
      background: linear-gradient(to right, rgba(255, 185, 0, 0.9), rgba(255, 119, 48, 0.9)); }
    .cards .card-1 h4 {
      font-size: 1.5rem;
      display: inline;
      padding: 0.5rem 1.2rem;
      position: absolute;
      font-weight: 300;
      right: 15px;
      top: 174px;
      color: #fff;
      text-transform: uppercase;
      background: linear-gradient(to right, rgba(255, 185, 0, 0.9), rgba(255, 119, 48, 0.9)); }
    .cards .card-1 .card-p {
      margin: 2rem 0; }
  .cards .card-2 {
    text-align: center;
    width: 23%;
    height: 500px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: all 1s;
    position: relative; }
    .cards .card-2:hover {
      transform: scale(1.1); }
    .cards .card-2 h3 {
      font-size: 1.5rem;
      display: inline;
      padding: 0.5rem 1rem;
      position: absolute;
      font-weight: 300;
      right: 15px;
      top: 130px;
      color: #fff;
      text-transform: uppercase;
      background: linear-gradient(to right, rgba(126, 213, 111, 0.9), rgba(85, 197, 122, 0.9)); }
    .cards .card-2 h4 {
      font-size: 1.5rem;
      display: inline;
      padding: 0.5rem 1.2rem;
      position: absolute;
      font-weight: 300;
      right: 15px;
      top: 174px;
      color: #fff;
      text-transform: uppercase;
      background: linear-gradient(to right, rgba(40, 180, 133, 0.9), rgba(85, 197, 122, 0.9)); }
    .cards .card-2 .card-p {
      margin: 2rem 0; }
  .cards .card-3 {
    text-align: center;
    width: 23%;
    height: 500px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: all 1s;
    position: relative; }
    .cards .card-3:hover {
      transform: scale(1.1); }
    .cards .card-3 h3 {
      font-size: 1.5rem;
      display: inline;
      padding: 0.5rem 1rem;
      position: absolute;
      font-weight: 300;
      right: 15px;
      top: 130px;
      color: #fff;
      text-transform: uppercase;
      background: linear-gradient(to right, rgba(41, 152, 255, 0.9), rgba(86, 67, 250, 0.9)); }
    .cards .card-3 h4 {
      font-size: 1.5rem;
      display: inline;
      padding: 0.5rem 1.2rem;
      position: absolute;
      font-weight: 300;
      right: 15px;
      top: 174px;
      color: #fff;
      text-transform: uppercase;
      background: linear-gradient(to right, rgba(41, 152, 255, 0.9), rgba(86, 67, 250, 0.9)); }
    .cards .card-3 .card-p {
      margin: 2rem 0; }
  .cards .card-img-1 {
    width: 100%;
    height: 45%;
    background: linear-gradient(rgba(255, 185, 0, 0.5), rgba(255, 119, 48, 0.5)), url("../img/nat-5.jpg") no-repeat center;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%); }
  .cards .card-img-2 {
    width: 100%;
    height: 45%;
    background: linear-gradient(rgba(126, 213, 111, 0.5), rgba(40, 180, 133, 0.5)), url("../img/nat-6.jpg") no-repeat center;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%); }
  .cards .card-img-3 {
    width: 100%;
    height: 45%;
    background: linear-gradient(rgba(41, 152, 255, 0.5), rgba(86, 67, 250, 0.5)), url("../img/nat-7.jpg") no-repeat center;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%); }

.book-now {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around; }

.section-d {
  height: 100vh;
  position: relative; }
  .section-d h2 {
    margin-top: 3rem;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    background: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.5s;
    padding: 1rem 0; }
    .section-d h2:hover {
      transform: skewY(-3deg) skewX(-20deg) scale(1.1); }
  .section-d .ppl-1 {
    margin: 5rem auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.616);
    -webkit-clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0% 100%);
    clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0% 100%);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-d .ppl-1 figure {
      position: relative; }
      .section-d .ppl-1 figure img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 2rem;
        position: relative; }
      .section-d .ppl-1 figure figcaption {
        position: absolute;
        top: 50%;
        left: 59%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
        transition: all 0.5s;
        opacity: 0; }
    .section-d .ppl-1 h3 {
      text-transform: uppercase;
      font-weight: bold; }
    .section-d .ppl-1 .what-ppl-say-box {
      margin-left: 1rem; }
  .section-d .ppl-2 {
    margin: 0 auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.616);
    -webkit-clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0% 100%);
    clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0% 100%);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.521); }
  .section-d img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 2rem;
    transition: all 0.5s; }
  .section-d h3 {
    text-transform: uppercase;
    font-weight: bold; }
  .section-d .what-ppl-say-box {
    margin-left: 1rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  object-fit: cover; }

.section-e {
  padding: 10rem 0;
  height: 100vh;
  background: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .section-e .book {
    width: 100%;
    background: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg) no-repeat center;
    background-size: cover;
    border-radius: 3px; }
  .section-e .book-form {
    width: 50%;
    padding: 2rem; }
    .section-e .book-form h2 {
      background: linear-gradient(to right, #7ed56f, #28b485);
      -webkit-background-clip: text;
      color: transparent;
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 0.4rem;
      transition: all 0.3s; }
      .section-e .book-form h2:hover {
        transform: skewY(-3deg) skewX(-20deg) scale(1.1); }
  .section-e form .input:not(:last-child) {
    font-size: 1.1rem;
    padding: 1rem 2rem;
    margin: 1rem 0rem;
    border: none;
    font-family: inherit;
    transition: all 0.5s;
    border-bottom: 3px solid transparent;
    display: block;
    width: 80%; }
    .section-e form .input:not(:last-child):focus {
      outline: none;
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #28b485; }
    .section-e form .input:not(:last-child):focus:invalid {
      border-bottom: 3px solid orangered; }
  .section-e a {
    margin-top: 3rem;
    width: 30%;
    text-align: center;
    color: #fff; }

.form-input label {
  font-size: 0.8rem;
  display: block;
  margin-left: 2rem;
  opacity: 0; }

.form-radio {
  margin-top: 2rem;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  width: 49%;
  position: relative;
  padding-left: 1rem; }
  .form-radio input {
    opacity: 0; }
  .form-radio label {
    padding-left: 1.5rem; }
  .form-radio .radio-style {
    width: 3rem;
    height: 3rem;
    border: 5px solid #28b485;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -11px; }
    .form-radio .radio-style::after {
      content: "";
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #28b485;
      opacity: 0;
      transition: all 1s; }

.radio:checked + .test > .radio-style::after {
  opacity: 1; }

.footer {
  padding: 1rem;
  background: #232323; }
  .footer .footer-logo {
    text-align: center; }
  .footer img {
    margin: 5rem 0; }
  .footer ul {
    width: 100%;
    display: flex; }
  .footer li {
    margin-right: 1rem;
    transition: all 0.5s;
    padding: 2px; }
    .footer li:hover {
      background: #28b485;
      transform: rotate(5deg) scale(1.1);
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px; }
    .footer li a {
      color: #fff;
      text-transform: uppercase; }
      .footer li a:hover {
        color: #000; }
  .footer .footer-nav {
    border-top: 1px solid #fff;
    width: 50%;
    margin: 2rem;
    padding: 1rem; }
    .footer .footer-nav p {
      color: #fff;
      font-weight: 300;
      font-size: 1.2rem; }
  .footer .footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem; }

.nav .background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 2rem;
  z-index: 1000;
  background: radial-gradient(#7ed56f, #28b485);
  transform: scale(50);
  overflow: hidden; }

.nav label {
  background: #fff;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 2rem;
  z-index: 2000; }

.nav input {
  display: none; }

.nav nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  position: relative;
  overflow: hidden; }

.nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1200; }
  .nav ul a {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase; }
  .nav ul li {
    margin: 3rem;
    font-weight: 300;
    overflow: hidden;
    background: linear-gradient(120deg, transparent 0%, transparent 50%, rgba(255, 255, 255, 0.938) 50%);
    background-size: 220%;
    transition: all 0.5s;
    text-align: center; }
    .nav ul li:hover {
      background-position: 100%; }
    .nav ul li a {
      transition: 0.5s; }
      .nav ul li a:hover {
        color: #000; }
